.pointer {
  height: 40px;
  position: relative;
  background: #007bff;
  display: inline-block;
  width: 20%;
}
.pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 20;
}
.pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #007bff;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 50;
}

.active.pointer:before {
  border-left: 20px solid #768cb6;
}

div.active {
  background-color: #768cb6;
}

.pointer span {
  position: absolute;
  top: 8px;
  left: 38px;
}

@media only screen and (max-width: 760px) {

  .pointer span {
    top: 8px;
    left: 26px;
    font-size: 0.8em;
    width: 17%;

  }

}
