<nav class="product-filter">
  <h1>{{selectedProduct}}</h1>

  <div class="sort">
    <div class="collection-sort">
      <label>Filter by:</label>
      <select [(ngModel)]="selectedProduct" (change)="selectedCategory($event)">
        <!--<option value="">- Wählen -</option>-->
        <option value="/">-wählen-</option>
        <option *ngFor="let category of categories | async" [value]="category.name">{{category.name}}</option>
      </select>
    </div>

    <div class="collection-sort">
      <label>Sort by:</label>
      <select>
        <option value="/">Featured</option>
        <option value="/">Best Selling</option>
        <option value="/">Alphabetically, A-Z</option>
        <option value="/">Alphabetically, Z-A</option>
        <option value="/">Price, low to high</option>
        <option value="/">Price, high to low</option>
        <option value="/">Date, new to old</option>
        <option value="/">Date, old to new</option>
      </select>
    </div>
  </div>
</nav>

<section class="products" *ngIf="products" >

  <ng-container *ngIf="filteredProducts">
        <a routerLink="/produkte/detail/{{product.key}}" class="product-card" class="product-card"
             *ngFor="let product of filteredProducts; let i = index">
          <div class="product-image">
            <img src="{{product.image || '//:0'}}" class="img-fluid" alt="{{product.name}}">
          </div>
          <div class="product-info">
            <h5>{{product.name}}</h5>
            <h6>CHF {{product.price}}.--</h6>
          </div>
        </a>
  </ng-container>

  <ng-container *ngIf="!filteredProducts">
        <a routerLink="/produkte/detail/{{product.key}}" class="product-card" class="product-card"
             *ngFor="let product of products | async; let i = index">
          <div class="product-image">
            <img src="{{product.image || '//:0'}}" class="img-fluid" alt="{{product.name}}">
          </div>
          <div class="product-info">
            <h5>{{product.name}}</h5>
            <h6>CHF {{product.price}}.--</h6>
          </div>
        </a>
  </ng-container>

</section>


<!--<section *ngIf="products" class="row product-list">-->
<!---->
<!--<div class="product-card" *ngFor="let product of products | async; let i = index">-->
<!--<app-product-item [product]='product' [count]='i'></app-product-item>-->
<!--</div>-->
<!---->
<!--</section>-->
