<div class="product-new">
  <div class="col-xs-12">
    <h3>Produkt erfassen</h3>
    <div [hidden]="submitted" style="width: 300px;">
      <form (ngSubmit)="onSubmit()">
        <input type="hidden" id="createdDate" [(ngModel)]="product.createdDate" name="createdDate">

        <div class="form-group">
          <label for="name">Name</label> <input type="text"
                                                class="form-control" id="name" required [(ngModel)]="product.name"
                                                name="name">
        </div>

        <div class="form-group">
          <label for="beschreibung">Beschreibung</label> <input type="text"
                                                                class="form-control" id="beschreibung" required
                                                                [(ngModel)]="product.description"
                                                                name="beschreibung">
        </div>

        <div class="form-group">
          <label for="price">Preis</label> <input type="text" class="form-control" id="price" required
                                                  [(ngModel)]="product.price" name="price">
        </div>

        <div class="form-group">
        <label for="category">Kategorie</label>
        <select [(ngModel)]="selectedCategory" id="category" name="selectedCategory">
        <option value="/">-alle Kategorien-</option>
        <option *ngFor="let category of categories | async" [value]="category.name">{{category.name}}</option>
        </select>
        </div>

        <div class="form-group">
          <label for="image">Bildupload</label>
          <input type="file" id="image" (change)="onFileSelection($event)" placeholder="Upload a file"
                 accept=".gif, .png, .jpeg, .jpg">
        </div>

        <button type="submit" class="btn btn-success">Bestätigen</button>
      </form>
    </div>

    <div [hidden]="!submitted">
      <p>Du hast erfolgreich hinzugefügt</p>
      <button class="btn btn-success" (click)="newProduct()">Hinzufügen</button>
    </div>
  </div>
</div>
