<div class="container-fluid">

  <app-home-slider-ngcarousel></app-home-slider-ngcarousel>


  <div class="container mt-5">
    <div class="card-deck mb-3 text-center">
      <div *ngIf="(productsDiscounts$ | async) as discount" class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Aktionen</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4" >
            <li *ngFor="let item of discount">
              <div class="featured-product">
                <div class="thumbnail">
                  <img src="{{item.image}}">
                </div>
                <div class="product">
                  <p>{{item.name}}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="(productsNew$ | async) as np" class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Neue Produkte</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4" >
            <li *ngFor="let item of np">
              <div class="featured-product">
                <div class="thumbnail">
                  <img src="{{item.image}}">
                </div>
                <div class="product">
                  <p>{{item.name}}</p>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>
      <div *ngIf="(productsBestRated$ | async) as best" class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Best Rated</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <ul class="list-unstyled mt-3 mb-4" >
              <li *ngFor="let item of best">
                <div class="featured-product">
                  <div class="thumbnail">
                    <img src="{{item.image}}">
                  </div>
                  <div class="product">
                    <p>{{item.name}}</p>
                  </div>
                </div>
              </li>
            </ul>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
