<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2"
         type="text"
         placeholder="Search"
         aria-label="Search"
         (keyup)="getAllSearch(searchTerm.value)"
         #searchTerm>
  <input *ngIf="false" class="form-control mr-sm-2"
         type="text"
         placeholder="Search2"
         aria-label="Search2"
         (keyup)="searchTerm$.next($event.target.value)"
         #searchTerm2>
  <button class="btn btn-secondary btn-circle" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>
