.media {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}
span{
  margin-right: 5px;
  padding: 5px;
}
button {
  cursor: pointer;
}

/*
.ui-fileupload.ui-widget.ng-star-inserted {
  width: 300px;
}
*/
