
  <div class="ui-inputgroup">
    <input type="text" pInputText placeholder="Name">
  </div>
  <br>

  <div class="ui-inputgroup">
    <input type="text" pInputText placeholder="Beschreibung">
  </div>
  <br>

  <div class="ui-inputgroup">
    <input type="text" pInputText placeholder="Preis">
  </div>
  <br>


  <p-fileUpload name="myfile[]" type="file" id="image" (change)="onFileSelection($event)" [showUploadButton]="false" accept="image/*"></p-fileUpload>


  <h3 class="first">Single</h3>
  <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Wähle eine Kategorie" optionLabel="name" [showClear]="true"></p-dropdown>
  <p>Gewählte Kategorie: {{selectedCity ? selectedCity.name : 'none'}}</p>



  <p-checkbox name="groupname" value="val1" label="Aktion" [(ngModel)]="selectedValues"></p-checkbox><br>
  <p-checkbox name="groupname" value="val2" label="Neuheit" [(ngModel)]="selectedValues"></p-checkbox><br>
  <p-checkbox name="groupname" value="val3" label="Beste Bewertung" [(ngModel)]="selectedValues"></p-checkbox><br>

