<div class="container">

  <div class="row">
    <div class="col-md-8 offset-2">
      <h1>Billing address</h1>
    </div>
  </div>

  <form [formGroup]="CustomerAddressForm" (ngSubmit)="onSubmit()">

  <div formGroupName="customerBillingAddress">
    <div class="row">
      <div class="col-md-8 offset-2">
        <div class="form-group">
          <label for="firstname_b">First Name</label>
          <input class="form-control" type="text" id="firstname_b" name="firstname_b" formControlName="firstname_b">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-2">
        <div class="form-group">
          <label for="lastname_b">Last Name</label>
          <input class="form-control" type="text" id="lastname_b" name="lastname_b" formControlName="lastname_b">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-2">
        <div class="form-group">
          <label for="address_b">Address</label>
          <input class="form-control" type="text" id="address_b" name="address_b" formControlName="address_b">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-2">
        <div class="form-group">
          <label for="zip_b">Zip</label>
          <input class="form-control" type="text" id="zip_b" name="zip_b" formControlName="zip_b">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-2">
        <div class="form-group">
          <label for="city_b">City</label>
          <input class="form-control" type="text" id="city_b" name="city_b" formControlName="city_b">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-2">
        <div class="form-group">
          <label for="country_b">Country</label>
          <input class="form-control" type="text" id="country_b" name="country_b" formControlName="country_b">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-2">
        <div class="form-group">
          <label for="phone_b">Phone</label>
          <input class="form-control" type="text" id="phone_b" name="phone_b" formControlName="phone_b">
        </div>
      </div>
    </div>

    <div *ngIf="!user"  class="row">
      <div class="col-md-8 offset-2">
        <div class="form-group">
          <label for="mail_b">Mail</label>
          <input class="form-control" type="text" id="mail_b" name="mail_b" formControlName="mail_b">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-2">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="shipqingEqualsBillingAddress" [(ngModel)]="shipqingEqualsBillingAddress"  [ngModelOptions]="{standalone: true}">
        <label class="form-check-label" for="shipqingEqualsBillingAddress">Shipping address equals invoice address</label>
      </div>
      <p></p>
    </div>
  </div>



    <div *ngIf="!shipqingEqualsBillingAddress" formGroupName="customerShippingAddress">

      <div class="row">
        <div class="col-md-8 offset-2">
          <h1>Shipping address</h1>
        </div>
      </div>


      <div class="row">
        <div class="col-md-8 offset-2">
          <div class="form-group">
            <label for="firstname_s">First Name</label>
            <input class="form-control" type="text" id="firstname_s" name="firstname_s" formControlName="firstname_s">
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-md-8 offset-2">
          <div class="form-group">
            <label for="lastname_s">Last Name</label>
            <input class="form-control" type="text" id="lastname_s" name="lastname_s" formControlName="lastname_s">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 offset-2">
          <div class="form-group">
            <label for="address_s">Address</label>
            <input class="form-control" type="text" id="address_s" name="address_s" formControlName="address_s">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 offset-2">
          <div class="form-group">
            <label for="zip_s">Zip</label>
            <input class="form-control" type="text" id="zip_s" name="zip_s" formControlName="zip_s">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 offset-2">
          <div class="form-group">
            <label for="city_s">City</label>
            <input class="form-control" type="text" id="city_s" name="city_s" formControlName="city_s">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 offset-2">
          <div class="form-group">
            <label for="country_s">Country</label>
            <input class="form-control" type="text" id="country_s" name="country_s" formControlName="country_s">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 offset-2">
          <div class="form-group">
            <label for="phone_s">Phone</label>
            <input class="form-control" type="text" id="phone_s" name="phone_s" formControlName="phone_s">
          </div>
        </div>
      </div>

      <div *ngIf="!user"  class="row">
        <div class="col-md-8 offset-2">
          <div class="form-group">
            <label for="mail_s">Mail</label>
            <input class="form-control" type="text" id="mail_s" name="mail_s" formControlName="mail_s">
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-8 offset-2">
        <button [disabled]="!CustomerAddressForm.valid" type="submit" class="btn btn-primary">Weiter zur Versandart</button>
      </div>
    </div>


  </form>


</div>
