<div *ngIf="selectedOrder">
  <h1>Allgemeine Infos</h1>
  <div>
    <label>Best.Nr.: </label> {{(selectedOrder | async)?.shopOrderId}}
  </div>
  <div>
    <label>User: </label> {{(selectedOrder | async)?.userId}}
  </div>
  <!--
  <div>
    <label>Datum: </label> {{(selectedOrder | async)?.orderDate.toDate()| date: 'dd.MM.yyyy'}}
  </div>
  -->
  <div>
    <label>Status: </label> {{(selectedOrder | async)?.status}}
  </div>
  <div>
    <label>Gesamtbetrag: </label> {{(selectedOrder | async)?.totalValue}}
  </div>
  <div>
    <label>id: </label> {{orderId}}
  </div>

  <hr/>
  <button class="btn btn-primary" (click)="onDelete()">Löschen</button>
  <button class="btn btn-primary" (click)="onEdit()">Bearbeiten</button>
  <button *ngIf="!user" class="btn btn-primary" (click)="onAuthorize()">Authorisieren</button>
  <button  *ngIf="user" class="btn btn-primary" (click)="onSubmitOrder()">Bestellung Absenden</button>
  <hr/>
  <h1>Bestellpositionen</h1>

  <div *ngFor="let product of products ">
    Artikel: <b>{{product.productData.description}}</b> Anzahl: <b>{{product.qty}}</b>


  </div>


  <div>
    <div>
      <div>
        <div>
          <select [(ngModel)]="selectedProduct">
            <option value="">- Select -</option>
            <option *ngFor="let product of allProducts | async" [value]="product.key">{{product.name}}</option>
          </select>
        </div>
        <div><input type="text" class="form-control" [(ngModel)]="productAmount"></div>
        <div>
          <button
            type="button"
            class="btn btn-primary"
            (click)="onAddProductControl()">+
          </button>
        </div>
      </div>
    </div>
  </div>
</div>










