<div class="container">



  <div class="row">
    <div class="col-md-8 offset-2">
      <h1>Warenkorb</h1>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Artikel</th>
            <th>Menge</th>
            <th>Preis</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of productStore">
            <td>{{product.description}}</td>
            <td>{{product.qty}}</td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>



  <div class="row">
    <div class="col-md-8 offset-2">
      <button class="btn btn-primary" (click)="onDelete()">Warenkorb Löschen</button>&nbsp;
    </div>
  </div>
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-md-8 offset-2">
      <button *ngIf="user" class="btn btn-primary" (click)="onEnterOrderData()">Bestelldaten eingeben</button>
    </div>
  </div>




</div>


<div *ngIf="!user" class="row">

  <form (ngSubmit)="onLoginWithOrder(f)" #f="ngForm">

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" ngModel class="form-control" required>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" ngModel class="form-control" required>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Einloggen und Warenkorb übernehmen</button>

  </form>

</div>







