<div class="container">


<h1>Bestellpositionen</h1>


<div *ngFor="let product of productStore">
  Artikel: <b>{{product.description}}</b> Anzahl: <b>{{product.qty}}</b>
</div>

<hr/>
  <button class="btn btn-primary" (click)="onDelete()">Warenkorb Löschen</button>&nbsp;
  <button *ngIf="user" class="btn btn-primary" (click)="onSaveScart(order?.userId)">Warenkorb Speichern</button>&nbsp;


<hr/>
<br>
<br>
<br>




<div *ngIf="user" >
  <h1>Allgemeine Infos</h1>
  <div>
    <label>Best.Nr.: </label> {{order?.key}}
  <div>
    <label>User: </label> {{order?.userId}}
  </div>
  <!--
  <div>
    <label>Datum: </label> {{(selectedOrder | async)?.orderDate.toDate()| date: 'dd.MM.yyyy'}}
  </div>
  -->
  <div>
    <label>Status: </label> {{order?.status}}
  </div>
  <div>
    <label>Gesamtbetrag: </label> {{order?.totalValue}}
  </div>


  <hr/>
  </div>
</div>


  <div *ngIf="!user" class="row">
    <div class="col-lg-4">
      <form (ngSubmit)="onLoginWithOrder(f)" #f="ngForm">

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" ngModel class="form-control" required>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" ngModel class="form-control" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Einloggen und Warenkorb übernehmen</button>

      </form>
    </div>
  </div>


  <button *ngIf="user" class="btn btn-primary" (click)="onEnterOrderData()">Bestelldaten eingeben</button>
</div>














