<div *ngIf="product" class="row mb-3">
  <div class="col-xs-12 col-md-6">
    <div>
      <label>Name: </label> {{product.name}}
    </div>
    <div>
      <label>Beschreibung: </label> {{product.description}}
    </div>
    <div>
      <label>Preis: </label> {{product.price}}
    </div>
    <div>
      <label>Status: </label> {{product.active}}
    </div>

    <span class="button is-small btn-primary" *ngIf='product.active' (click)='updateActive(false)'>inaktiv</span>

    <span class="button is-small btn-primary" *ngIf='!product.active' (click)='updateActive(true)'>aktiv</span>

    <span class="button is-small btn-danger" (click)='deleteProduct()'>Löschen</span>

    <br><input type="text" name="anzahl" style="width: 50px;height: 36px;border-radius: 5px;" [(ngModel)]="product.itemcount" name="itemcount"><button class="btn btn-outline-success mt-3 mb-3" style="display: inline-block;" (click)='addtoBasket(product)'>in den Warenkorb</button>

  </div>
  <div class="col-xs-12 col-md-6">
    <img src="{{product.picture + count}}" class="img-fluid" alt="Dummy Images">
  </div>

</div>

