ul {
  margin-bottom: 0;
}

li.submenu {
  padding: 20px;
}

.shopping li {
  list-style-type: none;
}

@media (max-width: 580px) {
  .shopping ul {
    padding-left: 0;
  }
}

.submenu {
  position: relative;
}

.submenu #shopping-cart {
  display: none;
}

.submenu:hover #shopping-cart {
  display: block;
  position: absolute;
  right: -15px;
  top: 66px;
  z-index: 3;
  background-color: white;
  padding: 20px;
  min-height: 200px;
  min-width: 373px;
  border: 1px solid black;
}

.remove {
  background-color: red;
  border-radius: 50%;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.bubble {
  display: inline-block;
  padding: 4px 7px 4px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  background: white;
  border-radius: 10px;
}

@media only screen and (max-width: 425px) {

  .shopping .submenu div#shopping-cart {
    display: none;
  }

}


