<app-page-title title="Admin Seiten" [children]="[{title: 'Admin Seiten'}]"></app-page-title>
<div class="container-fluid">
  <ul>
    <li><a routerLink="list">Produkte auflisten / editieren / löschen</a></li>
    <li><a routerLink="edit">Produkt hinzufügen</a></li>
    <li><a routerLink="add-category">Kategorie hinzufügen</a></li>
    <li><a routerLink="edit-category">Kategorien auflisten / editieren / löschen</a></li>
    <li><a routerLink="/users/list">Benutzer Verwalten</a></li>
  </ul>

  <hr>
  <router-outlet></router-outlet>
</div>

