<div class="product-add">
  <div class="col-xs-12">
    <h3>Produkt Kategorie erfassen</h3>
    <div>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="category">Kategorie</label>
          <input type="text"
                 class="form-control"
                 id="category"
                 required
                 [(ngModel)]="category"
                 name="category">
          <label for="beschreibung">Beschreibung der Kategorie</label>
          <input type="text"
                 class="form-control"
                 id="beschreibung"
                 required
                 [(ngModel)]="beschreibung"
                 name="beschreibung">
        </div>
        <button type="submit" class="btn btn-secondary">Eingabe bestätigen</button>
      </form>
    </div>

  </div>
</div>
