ul {
  margin-bottom: 0;
}

.shopping li {
  list-style-type: none;
}

.card {
  text-align: center;
  border: 1px solid #e1e1e1;
  background: white;
}

thead {
  border-bottom: 1px solid black;
}

.burgerMenu {
  font-size: 30px;
  cursor: pointer;
  margin-right: 50px;
}
