ul {
  margin-bottom: 0;
}

.shopping li {
  list-style-type: none;
}

.card {
  text-align: center;
  border: 1px solid #e1e1e1;
  background: white;
}

thead {
  border-bottom: 1px solid black;
}


.burgerMenu {
  margin-right: 35px;
  cursor: pointer;
  div {
    width: 35px;
    height: 5px;
    background-color: yellow;
    margin: 6px 0;
  }
}


@media (max-width: 580px) {
  app-header-search {
    // width: 180px;
  }
  .navbar-brand {
    margin-right: 0;
  }

}
