<h1>Products </h1>

<nav>
  <a routerLink="grid" class="btn btn-primary active" role="button" routerLinkActive="active"><i class="fa fa-th" aria-hidden="true"></i></a>
  <a routerLink="list" class="btn btn-primary active" role="button" routerLinkActive="active"><i class="fa fa-list" aria-hidden="true"></i></a>
  <a class="btn btn-primary active" role="button" (click)="getBasket()"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
</nav>

<ul>
  <li *ngFor="let item of basket"> {{item.name}} - CHF {{item.price}} - {{item.itemcount}} Stk - Total CHF  {{item.itemcount * item.price}}</li>
</ul>
<router-outlet></router-outlet>
